label {
    display: block;
    margin: 5px 0;
   } 
   table {
    border-collapse: collapse;
    border-spacing: 0;
   }
   td,
   th {
    padding: 5px;
    border-bottom: 1px solid #0f0000;
   } 
   body {
    font-family: Arial, sans-serif;
    background-color: #a8a7a7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
/* Form container */
.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Form input fields */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Submit button */
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  
  .back-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
 .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.gallery-item {
    flex: 1 1 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 5px; 
}

.info {
    padding: 10px; 
    background-color: #f0f0f0; 
    border-radius: 5px;
}